# Environment variables
.env

# Go build outputs
/bin/
/obj/
/pkg/

# Executables
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binaries
*.test

# IDE/editor configs
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# MacOS
.DS_Store
